body{
	background-image: url('../../assets/images/forest_wallpaper2.jpg');
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
}

.myButton {
	box-shadow: 0px 0px 0px transparent;
	-moz-box-shadow: 0px 12px 13px -7px #102a2e;
	-webkit-box-shadow: 0px 12px 13px -7px #102a2e;
	/*box-shadow: 0px 12px 13px -7px #102a2e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #443899), color-stop(1, #464099));
	background:-moz-linear-gradient(top, #443899 5%, #464099 100%);
	background:-webkit-linear-gradient(top, #443899 5%, #464099 100%);
	background:-o-linear-gradient(top, #443899 5%, #464099 100%);
	background:-ms-linear-gradient(top, #443899 5%, #464099 100%);
	background:linear-gradient(to bottom, #443899 5%, #464099 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#443899', endColorstr='#464099',GradientType=0);*/
	/*background-color:#443899;*/
	background-color: transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #0d8ce0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:22px;
	font-weight: bold;
	/*font-weight:bold;*/
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 2px 6px #212e33;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #464099), color-stop(1, #443899));
	background:-moz-linear-gradient(top, #464099 5%, #443899 100%);
	background:-webkit-linear-gradient(top, #464099 5%, #443899 100%);
	background:-o-linear-gradient(top, #464099 5%, #443899 100%);
	background:-ms-linear-gradient(top, #464099 5%, #443899 100%);
	background:linear-gradient(to bottom, #464099 5%, #443899 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#464099', endColorstr='#443899',GradientType=0);
	background-color:#464099;
}
.myButton:active {
	position:relative;
	top:1px;
}

.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
	display: none !important;
}

    .datalist-polyfill > li {
        padding: 3px;
        font: 13px "Lucida Grande", Sans-Serif;
    }
    
    .datalist-polyfill__active {
        background: #3875d7;
        color: white;
    }



/* homepage begins*/
/*
.btn{
    color : #fff;
    background-color: #6496c8;
    box-shadow: 0 10px #27496d;
}
.btn:hover{
  background-color: #417cb8
}
.btn:active{

}*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


.expandUp{
	animation-name: expandUp;
	-webkit-animation-name: expandUp;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}


#btn_wrapper{
    /*position: absolute;
    top: 40vh;
    width: 100%;*/
    height: 70px;
    text-align: center;
}

#btn_plant{
/*    position: absolute;
    top: 47%;
    left: 37%;*/
    width: 300px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 17px 0px;
    text-align: center;
    display: inline-block;
    -webkit-writing-mode:horizontal-tb;
    margin:0 0 20px 0;
    border:1px solid #444;
    /*border-radius: 20px;*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: .2s linear;
}


.navbar	{
	margin-bottom: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#btn_plant:hover{
	width: 340px;
	height: 80px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: transparent;
	font-size:25px;
	opacity: .7;
	background-color: green;
	color: #fff; 
}

#btn_plant:hover backgroundImage1{
	background-image: url('assets/images/forest.jpg');
}

#backgroundImage1,#backgroundImage2{
	width:100vw;
	height: 100vh;
	position: absolute;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#backgroundImage1.transparent{
	opacity: 0;
}
#backgroundImage2.transparent{
	opacity: 0;
}

#id01 .w3-modal-content .w3-container{
	margin:30px 0px;
}

#id01 .w3-modal-content footer .align-center button{
	margin:10px 0px;
	height: 40px;
}

#id01 .w3-modal-content footer .align-center button a:hover{
	text-decoration: none;
	color: white;
}

#id01 .w3-modal-content footer .align-center button i{
	border-right: 1px solid #000;
	padding-right: 8px;
}


.align-center{
	text-align: center;
	margin: 0 auto;
}	

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #3b5998;
  color: white;
}




/*homepage ends*/

/*Profile page begins*/
/*#profile_main_body >  .container > img{
	margin-top : 10px;
	margin-bottom : 10px;
}

#profile_main_body{
	margin-top: 51px;
	clear:both;
	width: 100vw;
	height: 100vh;
}

#profile_main_body > div:nth-child(1){
	float: left;
	width:20%;
	height: 100%;
	background-color: #26c6da;
}

#profile_upload_area{
	float: left;
	width:80%;
	height: 100%;
	background-color: #ffee68;
}*/

/*Right side heading*/
/*#profile_upload_area>div:nth-child(1){ 
	font-family: 'Alegreya', serif;
	font-weight: 400;
	font-style: italic;
	width: 100%;
	font-size: 40px;
	border: 1px solid #000;
	height:12%;
	text-align: center;
}*/
/*#profile_form{
	text-align: center;
}
.outset{
	border: 10px  outset  red;
}

*/

/*

#imagePreview{
background-color: #ccc;
border-style: ridge;
border-color: red;
border-width: 7px;
}*/
/*Profile page ends*/

/*Profile page 1.1 begins*/

#main-container{
    padding: 0px;
  	padding-top: 10px;	
    width: 700px;
    margin: 10px auto;
    height: auto;
    border: 1px solid #000;
   	text-align: center;
    background-color: rgba(255,255,255,0.4);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#main-container span:nth-child(1){
	font-size: 30px;
	font-weight: bold;
}

#description{
	height: auto;
}

#fileToUpload{
	display: inline;
}

#wrapper{
	margin: 50px auto;
}


#profile_row{
	margin-top: 51px;
}
.border{
	border:1px solid #000;
}
.border-negative{
	/*margin-left: -15px;
	margin-right: 15px;*/
	padding-left: inherit;
}
#imageContainer{
    margin: 20px auto 0;
    width: 600px;
    height: 400px;
}
#imagePreview{

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
#profile_heading{
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    font-size: 40px;
    height: 63px;
    box-shadow: 1px 4px 0px #445;
    text-align: center;
    background-color: rgba(221, 164, 141, 0.48);
    text-shadow: 3px 4px 11px #000;
}

.profile-col-1{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 20px;
	height: 120vh;
	padding-right: 0px;
	background-color: rgba(25,200,200,0.13);
	/*background-color: rgba(0,0,0,0.4);*/
/*background-color: #000229;*/
/*background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.profile-col-2{
	color:white;
	height: 100vh;
}

#profile_fileUploadButtons input[type="text"]{
	margin-top:10px;
	display: inline;
	color: #000;
}

#profile_fileUploadButtons{
	margin : 10px 0;
	text-align: center;
}

#profile_fileUploadButtons > label{
    color: #fff;
    /*text-shadow: 4px 3px 2px #888;*/
    font-size: 20px;
}

#profile_fileUploadButtons > textarea{
	height: 70px;
	width:600px;
	margin:0 auto;
	resize: none;
	color:#000;
	font-size:20px;
	padding:10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#profile_picture{
	width: 90%;
    transform: translate(5%,9%);
}
.outset{
	border: 15px groove #20b2aa;
}

.rem-padding-right{
	padding-right: 0px;
}


/*Profile page 1.1 ends*/


/*File upload page begins*/



/*File upload page ends*/


/* showPreview page begins*/
#profile_row
/* showPreview page ends*/


